# Only used by Articles Media.
NEXT_PUBLIC_CDN=sample

# Address to the default Node server. Typically only used by Articles Media.
NEXT_PUBLIC_NODE_SERVER_DISABLED=sample
NEXT_PUBLIC_NODE_SERVER=sample

# Used for GitHub button and Credits modal
NEXT_PUBLIC_OWNER=Articles-Joey
NEXT_PUBLIC_REPO=treasure-dive

# Game name
NEXT_PUBLIC_GAME_NAME=Treasure Dive
# Unique game key
NEXT_PUBLIC_GAME_KEY=treasure-dive
# Must match the port in package.json
NEXT_PUBLIC_GAME_PORT=3024

# CDN or Local - Keep as Local unless you have set up a CDN. Typically only used by Articles Media.
NEXT_PUBLIC_MODEL_SOURCE=Local

# Opt in to enable scoreboard and ad related features. Typically only used by Articles Media.
NEXT_PUBLIC_ENABLE_ARTICLES=false