@use "./components/global.scss" as *;
@use "./components/buttons.scss" as *;

@use "./pages/landing" as *;
@use "./pages/game" as *;

i {
    margin-right: 0.2rem;
}

button {
    font-size: 0.75rem!important;
}

.stats-overlay {
    position: fixed;
    top: 0;
    right: 0 !important;
    left: initial !important;
    z-index: 4;
}

.original-surfer-regular {
  font-family: "Original Surfer", sans-serif;
  font-weight: 400;
  font-style: normal;
}