@use "./components/global.scss" as *;
@use "./components/buttons.scss" as *;

@use "./pages/landing" as *;
@use "./pages/game" as *;

i {
    margin-right: 0.2rem;
}

button {
    font-size: 0.75rem!important;
}